/* -------------------------About Page CSS  Start--------------------- */
/* -------------------------Intro Section CSS Start --------------------- */

.intro-area {
	text-align: center;
	width: 100%;
	height: 400px;
	background-color: #fafafa;
	background-position: bottom;
	position: relative;
	background-size: contain;
}
.intro-heading {
	font-size: var(--largFont);
	font-weight: bold;
	color: var(--textColor);
}
.intro-heading::after {
	content: '';
	background: var(--bgColor);
	display: block;
	margin: 5px auto;
	width: 70%;
	height: 7px;
}
.intro-text p {
	width: 400px;
	margin-bottom: 30px;
	margin-top: 20px;
}
/* -------------------------Intro Section CSS End --------------------- */

/* -------------------------Story Section CSS End --------------------- */
.story-area {
	background-color: #ececec;
	display: flex;
	gap: 5em;
	justify-content: center;
	flex-wrap: wrap;
}
.story-image {
	padding: 50px 0;
}
.story-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.story-heading::after {
	content: '';
	background: var(--bgColor);
	display: block;
	width: 30%;
	height: 3px;
	margin-top: 5px;
}
.story-text h3 {
	font-size: var(--mediumFont);
	font-weight: 600;
	color: var(--textColor);
}
.story-text p {
	max-width: 400px;
	line-height: 32px;
	margin-bottom: 20px;
	margin-top: 30px;
}
/* -------------------------Story Section CSS End --------------------- */

/* -------------------------Team Section CSS End --------------------- */
.team-area {
	height: 400px;
	background-color: #fafafa;
}
.team-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.team-heading::after {
	content: '';
	background: var(--bgColor);
	display: block;
	width: 100%;
	height: 3px;
	margin-top: 5px;
}
.team-content h3 {
	font-size: var(--mediumFont);
	font-weight: 600;
	color: var(--textColor);
}
.team-content p {
	width: 400px;
	line-height: 32px;
	margin-bottom: 20px;
	margin-top: 30px;
}
.team-cards {
	display: flex;
	justify-content: space-around;
}
.team-card {
	color: black;
	background-color: #c4c4c4;
	border: 1px solid #bbbbbb;
	width: 170px;
	height: 250px;
	margin: 20px;
	border-radius: 10px;
	overflow: hidden;
}
.team-card img {
	width: 100%;
}
.team-card-title {
	z-index: 99;
	color: #000000;
	height: 65px;
	width: 100%;
	bottom: 0;
	padding: 8px 0px;
	background-color: #fff;
	transform: translateY(-26px);
	text-align: center;
}
.team-card-title h4 {
	margin-bottom: 0;
	font-size: 0.9em;
	font-weight: 600;
}
.team-card-title small {
	font-size: 14px;
}
/* -------------------------Team Section CSS End --------------------- */

/* -------------------------Future Section CSS End --------------------- */
.future-area {
	background-color: #ececec;
	display: flex;
	gap: 20px;
	justify-content: center;
	flex-wrap: wrap;
}
.future-image,
.future-text {
	padding: 50px 0;
}
.future-content {
	display: flex;
	gap: 5em;
	justify-content: space-around;
}
.future-heading::after {
	content: '';
	background: var(--bgColor);
	display: block;
	position: absolute;
	width: 38%;
	height: 3px;
	right: 0;
	margin-top: 5px;
}
.future-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: right;
	position: relative;
}
.future-text h3 {
	font-size: var(--mediumFont);
	font-weight: 600;
	color: var(--textColor);
}
.future-text p {
	max-width: 400px;
	line-height: 32px;
	margin-bottom: 20px;
	margin-top: 30px;
}
/* -------------------------Future Section CSS End --------------------- */

/* ------------------------- Roadmap Section CSS Start --------------------- */
.roadmap-area {
	height: 400px;
	background-color: #fafafa;
}
.roadmap-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.roadmap-heading::after {
	content: '';
	background: var(--bgColor);
	display: block;
	width: 100%;
	height: 3px;
	margin-top: 5px;
}
.roadmap-content h3 {
	font-size: var(--mediumFont);
	font-weight: 600;
	color: var(--textColor);
}
.roadmap-cards {
	width: 672px;
	margin: 30px;
	display: flex;
	justify-content: space-around;
}
.roadmap-card {
	position: relative;
	width: 75px;
	height: 75px;
	text-align: center;
	padding-top: 11px;
	background-color: #dfdfdf;
	border-radius: 50%;
}
.roadmap-card p {
	margin-top: 15px;
}
.roadmap-road {
	width: 60%;
	height: 10px;
	background-color: #dfdfdf;
	margin-top: -72px;
	margin-bottom: 100px;
}
.roadmap-progress {
	background-color: #c4c4c4;
	width: 55%;
	height: 100%;
}

/* ------------------------- Roadmap Section CSS End --------------------- */
/* -------------------------About Page CSS  End--------------------- */
