/* -------------------------Contact Us Page CSS  Start--------------------- */
.contact-sidebar {
    background: #16395f17;
    padding: 10px 30px;
    height: 100%;
 }
 
 .contact-information p, .about-hourlyfinder p {
    margin: 15px 0;
    font-size: 16px;
    text-align: justify;
 }
 
 .siderbar-border {
    border-bottom: 1px solid #9E9E9E;
     padding: 20px 0px;
 }
 .contact-area {
    background: #F6F6F6;
    border-bottom: 0.5px solid #e1e1e1;
 }
 
 .contact-form-area {
    padding: 30px 0;
 }
 
 .contact-form-area .contact-form {
    background: white;
    padding: 30px 35px;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 1px 0px 5px 0px #ccc;
 }
 h2.contact-title, .faq-title h2 {
    font-size: 28px;
 }
 h2.contact-title, .faq-title h2 {
    font-size: 28px;
 }
 
 .form-field .contact-phone {
    width: 47%;
    float: left;
 }
 
 .form-field .profile {
    width: 47%;
    float: right;
    display: block;
 }
 
 .contact-form .form-field input {
    margin-bottom: 10px;
 }
 .faq-title {
    position: relative;
    display: block;
    margin-bottom: 25px;
 }
 
 .faq-title::after {
    position: absolute;
    content: "";
    width: 90%;
    height: 2px;
    right: 0;
    top: 50%;
    background: #737171;
 }
 .faq-question-item {
    padding: 20px 30px;
    border-radius: 10px;
    background: white;
    margin-bottom: 20px;
    box-shadow: 1px 0px 5px 0px #ccc;
 }
 
 .question-button {
    border: none;
    font-size: 22px;
    font-weight: 500;
    margin: 0;
    display: block;
    width: 100%;
    position: relative;
    text-align: left;
    transition: 0.5s;
    background-color: transparent;
    margin-left: -6px;
 }
 
 
 .question-button.collapsed:after {
    position: absolute;
    content: "+";
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 23px;
 }
 .question-button:after{
    position: absolute;
    content: "-";
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 23px;
 }
 .answers-body {
    padding: 10px 0;
    text-align: justify;
    font-size: 16px;
    border-top: 1px solid #CBCBCB;
    margin-top: 15px;
 }
 /* -------------------------Contact Us Page CSS  End--------------------- */