.header-top-area {
	background-color: #ffffff69;
	padding: 15px 0px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 99;
}
.header-top-area.active {
	background-color: #ffffff;
	box-shadow: 0 2px rgb(238, 238, 238);
}
.menu-area {
	text-align: right;
}
.menu-area nav {
	display: inline-block;
}
.menu-area nav ul li {
	display: inline-block;
	padding: 0px 15px;
}
.menu-area nav ul li a {
	font-size: var(--smallFont);
	text-decoration: none;
	font-weight: bold;
	color: var(--bgColor);
}
.menu-area nav ul li a:hover {
	color: #16395f;
}
.menu-area nav ul li .active {
	color: #16395f;
}
a.btn.join-us {
	margin-left: 30px;
}
