/*!
 * Name : HourlyFinder
 * Version: 1.0.0
 * Author: Team CodeDamn
 * Author URL: https://sites.google.com/view/codedamn
 * Github: https://github.com/sajeebdebnath
 * HourlyFinder . Copyright . CodeDamn 2021 (Find Hourly Jobs nearby)

 * Table of Contents:
    A. Home
        01. Header Section
        02. Hero Section
        03. Most Recent Jobs Section
        04. Browse Jobs by Category
        05. Browse Jobs by Cities
        06. How it works
        07. User Feedback
        08. Latest Blog
        09. Newsletter
        10. Footer Section
	B. About
		01. Intro Section
		02. Story Section
		03. Team Section
		04. Future Section
		05. Roadmap Section
	C. Contact Us
	D. Registration & Login
	E. All Blog
*/

/* ------------------------- Home Start --------------------- */
/* ------------------------- Header Section CSS Start --------------------- */
.header-top-area {
	background: #ffffff;
	padding: 15px 0px;
	position: fixed;
	width: 100%;
	height: 70px;
	top: 0;
	z-index: 99;
}
.header-top-area.active {
	background: #ffffff;
	box-shadow: 0 2px rgb(238, 238, 238);
}
.header-top-area .logo {
	margin-left: 50px;
}
.menu-area {
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: right;
}
.menu-area nav {
	display: inline-block;
}
.menu-area nav ul li {
	display: inline-block;
	padding: 0px 15px;
}
.menu-area nav ul li a {
	font-size: var(--smallFont);
	text-decoration: none;
	font-weight: bold;
	color: var(--bgColor);
}
.menu-area nav ul li a:hover {
	color: #16395f;
}
.menu-area nav ul li .active {
	color: #16395f;
}
a.btn.join-us {
	margin-left: 30px;
}
.app {
	margin-top: 70px;
}
/* ------------------------- Header Section CSS End --------------------- */

/* -------------------------Hero Section CSS Start --------------------- */
.hero-area {
	margin-top: -70px;
	background: url(../assets/svgs/hero-bg.svg);
	background-repeat: no-repeat;
	background-color: #c9f0f2;
	height: 100vh;
	background-position: bottom;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
	background-attachment: fixed;
}
.hero-text h1 {
	font-size: var(--largFont);
	font-weight: bold;
	color: var(--textColor);
}
.hero-text span {
	background-color: var(--bgColor2);
}
.hero-text p {
	margin-bottom: 30px;
	margin-top: 20px;
}
.hero-search-bar {
	position: relative;
	margin-left: 0px;
}

.search-bar {
	width: 100%;
	display: inline-flex;
	background-color: white;
	padding: 10px;
	border-radius: 7px;
	border: 1px solid #adadad;
	box-shadow: 0px 2px 0px 1px #00000052;
}
.search-bar svg {
	font-size: 24px;
	color: var(--bgColor4);
	margin: auto 12px auto 5px;
	cursor: pointer;
}
.search-bar input {
	width: 100%;
	margin-right: 10px;
	outline: none;
	border: none;
	color: #62656b;
}
.search-bar button {
	border-radius: 5px;
	font-size: 15px;
	height: 40px;
	width: 160px;
}

.hero-search-bar .auto-complete {
	background-color: #fff;
	width: 100%;
	max-height: 185px; /**/
	border-radius: 7px;
	box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
	position: absolute;
	top: 65px;
	padding: 0px;
	max-height: 280px;
	overflow-y: auto;
	opacity: 0;
	pointer-events: none;
}
.hero-search-bar.active .auto-complete {
	padding: 10px 10px;
	opacity: 1;
	pointer-events: auto;
}
.auto-complete li {
	display: none;
	list-style-type: none;
	padding: 7px 12px;
	width: 100%;
	cursor: default;
	border-radius: 5px;
}
.hero-search-bar.active .auto-complete li {
	display: block;
}
.auto-complete li:hover {
	background: whitesmoke;
}
/* work in progress*/

.hero-search-bar .tag {
	width: 100%;
	text-align: center;
}
.hero-search-bar .tag span a {
	font-size: var(--smallFont);
	color: #16395f;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
}
.hero-search-bar .tag span a:hover {
	color: var(--bgColor);
}

.not-found-content {
	margin: auto;
}
/* -------------------------Hero Section CSS End --------------------- */

/* -------------------------Most Recent Job Section CSS Start --------------------- */
.job-card {
	background: #ffffff;
	border: 1px solid var(--bgColor3);
	box-shadow: 2px 3px 0px 2px var(--bgColor3);
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 30px;
	height: 230px;
}
.about-recruiter a .recruiter-logo {
	width: 50px;
	height: 50px;
	border-radius: 5px;
}

.recruiter-title {
	font-size: var(--smallFont);
	margin-left: 25px;
	font-weight: 400;
	margin-bottom: 0;
	word-break: break-word;
}

.post_time {
	font-weight: 300;
}

.job-title {
	font-size: var(--normalFont);
	margin: 10px 0px;
}

.job-status {
	font-size: var(--smallFont);
}

.job-content {
	margin-top: 15px;
	word-break: break-word;
}
.job-keyword .job-tag,
.blog-keyword .blog-tag {
	background: #e3e3e3;
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 12px;
	padding: 3px 6px 3px 3px;
	border-radius: 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	word-break: initial;
}
.job-tag div,
.blog-tag div {
	background: #bbbaba;
	width: 12px;
	height: 12px;
	display: inline-block;
	border-radius: 50%;
	margin: auto 4px auto 2px;
}

.job-keyword,
.blog-keyword {
	margin-top: 10px;
	display: flex;
}
.job-tag div.creative,
.blog-tag div.house {
	background: #358fb2;
}
.job-tag div.service,
.blog-tag div.painting {
	background: darkorange;
}

/* -------------------------Most Recent Job Section CSS End --------------------- */

/* -------------------------Browse Jobs by Category Section CSS Start --------------------- */
.browse-jobs-categories {
	background-color: var(--sectionBg);
}
.category-item {
	background: #ffffff;
	border: 1px solid var(--bgColor3);
	box-shadow: 2px 3px 0px 2px var(--bgColor3);
	border-radius: 10px;
	padding: 20px;
	height: 200px;
	margin-bottom: 25px;
}

.category-icon {
	text-align: right;
	margin-bottom: 10px;
}

.category-icon svg {
	font-size: 86px;
	color: #cccccc;
}

.category-name h3 {
	font-size: 22px;
}
/* -------------------------Browse Jobs by Category Section CSS End --------------------- */

/* -------------------------Browse Jobs by Cities Section CSS Start --------------------- */
.location-based-jobs {
	/* background: url(../images/homepage/cities/dhaka.png); */
	background-repeat: no-repeat;
	border: 1px solid var(--bgColor3);
	box-shadow: 2px 3px 0px 2px var(--bgColor3);
	border-radius: 10px;
	height: 230px;
	padding: 20px;
	position: relative;
	background-position: right;
	background-size: contain;
}
.location-based-jobs.bg-2 {
	/* background-image: url(../images/homepage/cities/chittagong.png); */
	background: red;
}
.location-based-jobs.bg-3 {
	/* background-image: url(../images/homepage/cities/rajshahi.png); */
	background: red;
}
.location-based-jobs.bg-4 {
	/* background-image: url(../images/homepage/cities/sylhet.png); */
	background: red;
}
.location-name {
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.location-name h4 {
	font-size: var(--mediumFont);
	margin-top: 5px;
}
/* -------------------------Browse Jobs by Cities Section CSS End --------------------- */

/* -------------------------How Works it Section CSS Start --------------------- */
.how-works-site {
	background: var(--sectionBg);
}
.how-works-content h2 {
	font-size: 32px;
	font-weight: 600;
}
.how-works-content h3 {
	font-size: 22px;
	margin: 10px 0;
}
.how-works-content {
	padding-right: 35px;
}
.how-works-content .btn {
	margin-top: 25px;
	padding: 7px 25px;
}
.leaflet-map {
	height: 260px;
	color: var(--bgColor2);
	border: 2px solid var(--bgColor3);
	border-radius: 10px;
	background-color: white;
	box-shadow: 2px 3px 0px 2px var(--bgColor3);
	z-index: 90;
}
/* -------------------------How Works it Section CSS End --------------------- */

/* -------------------------User Feedback Section CSS Start --------------------- */
.feedback-wrapper {
	background: white;
	border: 1px solid var(--bgColor3);
	border-radius: 10px;
	padding: 25px 20px;
	text-align: center;
	width: 350px;
}

.feedback-wrapper .user-info .user-avatar {
	width: 80px;
	height: 80px;
	overflow: hidden;
	margin: auto;
	border-radius: 50%;
}
.feedback-wrapper .user-info .user-avatar img {
	width: 100%;
}

.feedback-wrapper .user-info h4 {
	font-size: var(--mediumFont);
	margin: 5px 0px;
}

.feedback-wrapper .user-info p {
	font-size: var(--smallFont);
	color: #00000096;
}

.feedback-wrapper .user-info {
	margin-bottom: 20px;
}

.feedback-wrapper .user-feedback blockquote {
	font-size: var(--normalFont);
	margin-bottom: 0;
}
.user-feedback-area .owl-carousel .owl-item img {
	display: inline-block;
}
.user-feedback-area .owl-carousel .owl-stage-outer {
	height: 270px;
}
/* -------------------------User Feedback Section CSS End --------------------- */

/* -------------------------Latest Blog Section CSS Start --------------------- */
.latest-blog-area {
	background-color: var(--sectionBg);
}
.blog-item {
	background: #ffffff;
	border: 1px solid #cbcbcb;
	border-radius: 10px;
	padding: 20px;
	height: 400px;
	position: relative;
	padding-top: 180px;
	margin-bottom: 25px;
}
.blog-bg {
	position: absolute;
	width: 100%;
	height: 180px;
	left: 0;
	top: 0;
	background-color: #bbb; /* temporary */
	background-size: cover;
	background-position: center;
	border-radius: 9px 9px 0px 0px;
}

.blog-item .blog-author-time p {
	font-size: var(--smallFont);
	color: #00000094;
}

.blog-item .blog-author-time p span.author {
	color: black;
}
.blog-text {
	margin-top: 15px;
}
.blog-item .blog-text h3 {
	font-size: 20px;
	font-weight: 600;
	margin: 10px 0;
}

.blog-item .blog-text p {
	font-size: 16px;
}

.blog-content {
	margin-top: 10px;
}

/* -------------------------Latest Blog Section CSS End --------------------- */

/* -------------------------Newsletter Section CSS Start --------------------- */
.newsletter-content {
	text-align: center;
}

.newsletter-content h4 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 10px;
}

.newsletter-form {
	position: relative;
	margin: 10px 0;
}
.newsletter-form .newsletter-email {
	width: 100%;
	border: 1px solid var(--bgColor3);
	box-sizing: border-box;
	box-shadow: 1px 2px 0px 1px var(--bgColor3);
	border-radius: 5px;
	padding: 15px 131px 15px 60px;
	position: relative;
	outline-color: var(--bgColor);
	font-weight: 400;
	color: #838995;
}
.newsletter-form .btn.newsletter {
	position: absolute;
	top: 1px;
	right: 1px;
	padding: 15px 20px;
	border-radius: 0px 5px 5px 0px;
	font-size: 15px;
	font-weight: 300;
}
.newsletter-form .svg {
	position: absolute;
	left: 20px;
	top: 32px;
	font-size: 24px;
	color: var(--bgColor4);
	margin-top: -16px;
}
.newsletter-form p {
	margin-top: 10px;
	font-size: var(--smallFont);
	color: #838995;
}
.newsletter-form p.err {
	color: red;
}
.newsletter-form p.okk {
	color: green;
}
/* -------------------------Newsletter Section CSS End --------------------- */

/* -------------------------Footer Section CSS Start --------------------- */
.footer-menu-area {
	background-color: var(--bgColor5);
}
.footer-menu-title {
	display: inline-block;
	position: relative;
}
.footer-menu-title h3 {
	font-size: var(--normalFont);
	color: white;
	font-weight: 600;
}
.footer-menu-title::after {
	position: absolute;
	content: '';
	background-color: var(--bgColor);
	width: 100%;
	height: 2px;
}
.footer-menu nav ul li {
	font-size: 18px;
	margin-bottom: 5px;
}
.footer-menu nav ul li a {
	color: white;
}
.footer-menu nav ul li a:hover {
	color: var(--bgColor);
}
.footer-menu {
	margin-top: 20px;
}
.footer-copyright-area {
	background: var(--bgColor4);
	color: white;
	padding: 15px;
}

.copyright-text {
	font-size: var(--smallFont);
	font-weight: 200;
}
/* -------------------------Footer Section CSS End --------------------- */
/* ------------------------- Home End --------------------- */

/* -------------------------About Page CSS  Start--------------------- */
/* -------------------------Intro Section CSS Start --------------------- */
.intro-area {
	text-align: center;
	width: 100%;
	height: 400px;
	background: url(../assets/svgs/intro-bg.svg);
	background-repeat: no-repeat;
	background-color: #fafafa;
	background-position: bottom;
	position: relative;
	background-size: contain;
}
.intro-heading {
	font-size: var(--largFont);
	font-weight: bold;
	color: var(--textColor);
	display: inline-block;
	position: relative;
}
.intro-heading::after {
	position: absolute;
	content: '';
	background: var(--bgColor);
	display: block;
	margin: 5px auto;
	width: 100%;
	height: 7px;
}
.intro-text p {
	width: 400px;
	margin-bottom: 30px;
	margin-top: 20px;
}
/* -------------------------Intro Section CSS End --------------------- */

/* -------------------------Story Section CSS End --------------------- */
.story-area {
	background-color: #ececec;
	display: flex;
	gap: 5em;
	justify-content: center;
	flex-wrap: wrap;
}
.story-image {
	padding: 50px 0;
}
.story-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.story-content.order-first {
	text-align: right;
}
.story-heading::after {
	content: '';
	background: var(--bgColor);
	display: block;
	width: 100%;
	height: 3px;
	margin-top: 5px;
}
.story-text h3 {
	font-size: var(--mediumFont);
	font-weight: 600;
	color: var(--textColor);
	display: inline-block;
}
.story-text p {
	max-width: 400px;
	line-height: 32px;
	margin-bottom: 20px;
	margin-top: 30px;
}
/* -------------------------Story Section CSS End --------------------- */

/* -------------------------Team Section CSS End --------------------- */
.team-area {
	height: 400px;
	background-color: #fafafa;
}
.team-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.team-heading::after {
	content: '';
	background: var(--bgColor);
	display: block;
	width: 100%;
	height: 3px;
	margin-top: 5px;
}
.team-content h3 {
	font-size: var(--mediumFont);
	font-weight: 600;
	color: var(--textColor);
}
.team-content p {
	width: 400px;
	line-height: 32px;
	margin-bottom: 20px;
	margin-top: 30px;
}
.team-cards {
	display: flex;
	justify-content: space-around;
}
.team-card {
	color: black;
	background-color: #c4c4c4;
	border: 1px solid #bbbbbb;
	width: 170px;
	height: 250px;
	margin: 20px;
	border-radius: 10px;
	overflow: hidden;
}
.team-card img {
	width: 100%;
}
.team-card-title {
	z-index: 99;
	color: #000000;
	height: 65px;
	width: 100%;
	bottom: 0;
	padding: 8px 0px;
	background-color: #fff;
	transform: translateY(-26px);
	text-align: center;
}
.team-card-title h4 {
	margin-bottom: 0;
	font-size: 0.9em;
	font-weight: 600;
}
.team-card-title small {
	font-size: 14px;
}
/* -------------------------Team Section CSS End --------------------- */

/* ------------------------- Roadmap Section CSS Start --------------------- */
.roadmap-area {
	height: 400px;
	background-color: #fafafa;
}
.roadmap-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.roadmap-heading::after {
	content: '';
	background: var(--bgColor);
	display: block;
	width: 100%;
	height: 3px;
	margin-top: 5px;
}
.roadmap-content h3 {
	font-size: var(--mediumFont);
	font-weight: 600;
	color: var(--textColor);
}
.roadmap-cards {
	width: 672px;
	margin: 30px;
	display: flex;
	justify-content: space-around;
}
.roadmap-card {
	position: relative;
	width: 75px;
	height: 75px;
	text-align: center;
	padding-top: 11px;
	background-color: #dfdfdf;
	border-radius: 50%;
}
.roadmap-card p {
	margin-top: 15px;
}
.roadmap-road {
	width: 60%;
	height: 10px;
	background-color: #dfdfdf;
	margin-top: -72px;
	margin-bottom: 100px;
}
.roadmap-progress {
	background-color: #c4c4c4;
	width: 55%;
	height: 100%;
}

/* ------------------------- Roadmap Section CSS End --------------------- */
/* -------------------------About Page CSS  End--------------------- */

/* -------------------------City & Category Page CSS  Start--------------------- */
.locations-cities-item {
	background: #ffffff;
	border-radius: 10px;
	padding: 25px;
	position: relative;
	padding-top: 225px;
	box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 28%);
	margin-bottom: 15px;
}
.city-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 210px;
	border-radius: 10px 10px 0px 0px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 90%;
	z-index: 1;
}

.city-job-info {
	position: relative;
	color: white;
	text-align: center;
	top: 70%;
}

.city-job-info h4 {
	font-size: var(--mediumFont);
	color: white;
	font-weight: 700;
}

.city-job-info h5 {
	font-weight: 600;
	color: white;
}

.city-list a {
	font-size: 16px;
	color: var(--bgColor);
}
.city-list .col-lg-6:nth-child(even) {
	text-align: right;
}
/* -------------------------City & Category Page CSS  End--------------------- */

/* -------------------------Contact Us Page CSS  Start--------------------- */
.contact-sidebar {
	border-radius: 10px;
	background: #e7eff1;
	margin-top: 47px;
	padding: 20px 20px;
	height: calc(100%-47px);
}

.contact-information p,
.about-hourlyfinder p {
	margin: 15px 0;
	font-size: 16px;
	text-align: justify;
}

.siderbar-border {
	border-bottom: 1px solid #9e9e9e;
	margin-bottom: 20px;
}
.contact-area {
	background: #fafafa;
	border-bottom: 0.5px solid #e1e1e1;
}
.contact-area .row {
	padding-top: 30px;
}

.contact-form-area .contact-form {
	background: white;
	padding: 30px 35px;
	border-radius: 10px;
	margin-top: 15px;
	box-shadow: 1px 1px 0px 2px var(--bgColor3);
}
h2.contact-title,
.faq-title h2 {
	font-size: 28px;
}
h2.contact-title,
.faq-title h2 {
	font-size: 28px;
}
.form-field {
	overflow: hidden;
	display: block;
	margin-bottom: 5px;
}

.form-field .contact-phone {
	width: 47%;
	float: left;
}

.form-field .profile {
	width: 47%;
	float: right;
	display: block;
}

.form-field .invalid-feedback {
	font-size: 0.7rem;
}
.form-field .valid-feedback {
	font-size: 0.7rem;
}
.form-field .is-valid {
	border-color: #19875450;
}
.form-field .is-invalid {
	border-color: #dc354550;
}

.faq-title {
	position: relative;
	display: block;
	margin-bottom: 25px;
}

.faq-title::after {
	position: absolute;
	content: '';
	width: 90%;
	height: 2px;
	right: 0;
	top: 50%;
	background: #737171;
}
.faq-questions .accordion-button {
	font-size: 20px;
	font-weight: 400;
}
/* -------------------------Contact Us Page CSS  End--------------------- */

/* -------------------------Registration & Login Page CSS Start--------------------- */
.registration-area,
.jobs-application-area {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 70px;
	height: 90vh;
	min-height: 590px;
	background: url(../assets/svgs/hero-bg.svg);
}

.registration-box,
.application-box {
	width: 960px;
	height: 540px;
	border-radius: 30px;
	background: white;
}

.registration-left {
	width: 50%;
	background-color: #2b313f;
	height: 100%;
	border-radius: 30px;
	position: relative;
	overflow: hidden;
	float: left;
}

.registration-left::after {
	content: '';
	position: absolute;
	top: -5%;
	left: -50%;
	height: 130%;
	width: 100%;
	background: #358fb2;
	transform: skew(-25deg, 0deg);
}

.registration-left::before {
	content: '';
	position: absolute;
	background: url(../assets/svgs/clock.svg);
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	z-index: 4;
	margin-top: -100px;
	margin-left: -100px;
	background-position: center;
	background-size: cover;
}
.registration-left-content {
	position: absolute;
	width: 80%;
	margin: auto;
	height: 80%;
	background: linear-gradient(148.31deg, rgba(255, 255, 255, 0.165) 0%, rgba(255, 255, 255, 0.3) 100%);
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(20px);
	/* Note: backdrop-filter has minimal browser support */
	border-radius: 10px;
	z-index: 70;
	left: 50%;
	top: 50%;
	margin-left: -40%;
	margin-top: -44%;
	padding: 20px;
}

.registration-left-content .normal-logo {
	background: rgba(43, 49, 63, 0.1);
	display: inline-block;
	padding: 5px 15px;
}

.registration-left-content .normal-logo h3 {
	font-size: var(--mediumFont);
	color: #f2ecdc;
	font-weight: 500;
}

.registration-left-text h2 {
	font-size: 35px;
	font-weight: bold;
}
.registration-status-info h4 a {
	font-size: 20px;
	color: white;
	font-weight: 500;
}

.registration-left-text {
	margin: 30px 0;
}

.registration-status-info {
	color: white;
}

.registration-left-text p {
	margin-top: 5px;
}
.registration-form,
.apply-form,
.job-application-info {
	width: 50%;
	float: right;
	padding: 25px 50px;
	display: flex;
	align-items: center;
	height: 100%;
}
.registration-form .form {
	width: 100%;
}
.form-field input,
.form-field select,
.form-field textarea {
	display: block;
	border: 2px solid #f2f2f2;
	box-sizing: border-box;
	border-radius: 5px;
	width: 100%;
	color: #838995;
	font-size: var(--smallFont);
	padding: 7px 15px;
	outline-color: var(--bgColor);
	margin-bottom: 5px;
}
.form-field input[type="file"] {
	margin-bottom: 0;
	height: 39px;
}

.file_edit_button {
	border-radius: 10px;
	background-color: #FFFFFF;
	position: relative;
	overflow: hidden;
}
.file_edit_button input::-webkit-file-upload-button {
	visibility: hidden;
}

.file_edit_button input::before {
	content: 'Choose File';
	background: var(--bgColor);
	position: absolute;
	left: 2px;
	top: 2px;
	border-radius: 3px;
	padding: 0 13px;
	padding-top: 1px;
	height: 35px;
	display: inline-block;
	color: #FFFFFF;
	line-height: 33px;
}

.registration-form h2,
.apply-form h2 {
	margin-bottom: 15px;
}

.form-field label {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 5px;
}
.form-field .first-name {
	float: left;
	width: 47%;
}
.form-field .last-name {
	float: right;
	width: 47%;
}
.form-field.stay-login input,
.form-field.agree input {
	width: auto;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 15px;
	padding: 7px;
}

.form-field .btn {
	background: #16395f;
	color: white;
}
/* -------------------------Registration Page CSS  End--------------------- */

/* -------------------------All Blog Page CSS  Start--------------------- */
.weekly-blog {
	width: 100%;
	height: 250px;
	border-radius: 10px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.blog-slide.owl-carousel {
	position: relative;
	padding: 0px;
}

.weekly-blog-content p.author-time {
	font-size: 14px;
	font-weight: 400;
	color: #737171;
}

.weekly-blog-content h3 {
	font-size: var(--mediumFont);
	margin: 15px 0px;
	margin-bottom: 7px;
}

.weekly-blog-content {
	padding-right: 40px;
}

.weekly-blog-content p {
	font-size: 16px;
	text-align: justify;
}

.blog-slide .owl-nav {
	position: absolute;
	width: 100%;
	top: 35%;
	left: 0;
	margin-top: -25px;
}

.blog-slide .owl-nav button span {
	font-size: 50px;
}
.blog-slide .owl-nav button.owl-next {
	right: 0;
	position: absolute;
}
.blog-slide .owl-dots {
	position: absolute;
	bottom: -25px;
	left: 50%;
}

.blog-slide .owl-dots .owl-dot {
	width: 10px;
	height: 10px;
	background: rgb(182, 182, 182);
	border-radius: 50%;
	margin: 0 5px;
}

.blog-slide .owl-dots .owl-dot.active {
	background: var(--bgColor);
}
.pagination-wrapper {
	background: #cccc;
	padding: 8px 20px;
	text-align: center;
}

.pagination-wrapper a {
	font-size: 20px;
	font-weight: 700;
	margin: 0 15px;
}

.pagination-wrapper a.active {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #262626;
	display: inline-block;
	color: white;
	line-height: 36px;
}

.pagination-wrapper a.page {
	font-weight: 300;
	text-transform: uppercase;
}

.pagination-wrapper a svg {
	margin-right: 10px;
}
.pagination-wrapper a.next svg {
	margin-left: 10px;
}
.blog-contents {
	padding: 30px 0;
}
.side-bar-right {
	background: #dfdfdf;
	padding: 30px 15px;
	height: 100%;
}

.side-bar-right .job-card .recruiter-title {
	margin-left: 15px;
}

.side-bar-right .job-card .job-title {
	font-size: 20px;
}
.advertizement-bg {
	width: 100%;
	height: 600px;
	background: lightslategray;
	border-radius: 10px;
}
.all-blog-area,
.single-blog-area {
	background: #f6f6f6;
	border-bottom: 0.5px solid #dfdfdf;
}
/* -------------------------All Blog Page CSS  End--------------------- */

/* -------------------------Single Job Page CSS  Start--------------------- */
.apply-area {
	margin-top: 100px;
}
.recruiter-company-cover {
	background-color: #ccc; /* temporary */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 190px;
	position: relative;
	margin-bottom: 70px;
	border-radius: 10px 10px 0px 0px;
}
.recruiter-company-cover .company-profile {
	position: absolute;
	bottom: 0;
	height: 80px;
	width: 90px;
	left: 50%;
	margin-left: -45px;
	margin-bottom: -40px;
	border-radius: 10px;
	background-color: #aaa; /* temporary */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.jobs-details-information {
	padding: 10px 25px;
}

.single-job-title h2 {
	font-size: 30px;
	font-weight: 600;
}

.single-job-title p {
	font-size: 22px;
	margin-top: 5px;
}

.single-job-title {
	margin-bottom: 25px;
}

.basic-info p {
	font-size: 12px;
	text-transform: uppercase;
	color: #434343;
}

.basic-info h5 {
	font-size: 16px;
	margin-top: 5px;
}

.basic-info {
	margin-bottom: 20px;
}

.single-job-details h3 {
	font-size: var(--mediumFont);
	margin-bottom: 8px;
}

.single-job-details p {
	font-size: 16px;
	text-align: justify;
}

.single-job-details {
	margin-bottom: 25px;
}
.require-skills ul {
	list-style: disc;
	padding-left: 30px;
}

/* -------Apply Sidebar CSS------ */
.apply-sidebar {
	border-radius: 10px;
	height: 100%;
	background: var(--sectionBg);
}
.sidebar-padding {
	padding: 25px 30px;
}
.application-budget-information {
	border-bottom: 1px solid #dee0e3;
}
.application-budget-information p {
	font-weight: 400;
}

.application-budget-information h4.budget {
	font-size: 30px;
	margin: 10px 0;
	margin-bottom: 25px;
}

.application-budget-information .btn {
	display: block;
	margin-bottom: 10px;
}

.application-budget-information .btn.apply-now {
	background: #16395f;
}

.application-budget-information .btn.add-to-wishlist {
	border: 1px solid #c1c1c1;
	background: #dee0e3;
	color: #8a8a8a;
}
.recruiter-profile-name .profile-info img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin-right: 20px;
}

.recruiter-profile-name {
	margin: 20px 0;
}

.recruiter-profile-name .profile-name p {
	font-size: 16px;
	font-weight: 400;
	margin-top: -5px;
}

.contact-details nav ul li {
	margin-bottom: 15px;
	color: #111111;
	font-size: 17px;
}

.contact-details nav ul li svg {
	color: #3f3f3f;
	margin-right: 15px;
}

.profile-gallery p {
	font-size: 14px;
	text-align: justify;
}

.profile-gallery a {
	color: var(--bgColor);
	font-size: 14px;
	margin-bottom: 5px;
	display: inline-block;
}
.profile-gallery .gallery img {
	height: 180px;
	width: 100%;
	margin: 10px 0;
	border-radius: 10px;
}

/* -------------------------Single Job Page CSS  End--------------------- */

/* -------------------------Apply Page CSS  Start--------------------- */
.apply-form {
	float: left;
}
.form-field.agree label {
	font-size: 14px;
}
.job-application-info {
	background: #eeeeee;
	border-radius: 0px 30px 30px 0px;
}
.job-application-info .normal-logo h3 {
	font-size: 20px;
	color: #f2ecdc;
	font-weight: 600;
}

.job-application-info .normal-logo {
	background: #16395fb2;
	display: inline-block;
	padding: 10px 25px;
}
.job-application-title h2 {
	font-size: 25px;
	font-weight: 600;
}

.job-application-title p {
	font-size: 18px;
	font-weight: 400;
}

.job-application-title p span {
	font-weight: 500;
}
.application-company-profile img {
	border-radius: 10px;
	height: 65px;
	width: 70px;
	margin-right: 20px;
}

.application-company-name h5 {
	font-size: 18px;
	margin-bottom: 0;
}

.application-company-name p {
	font-size: 14px;
	font-weight: 400;
}

.job-application-info p.job-overview {
	background: white;
	padding: 15px;
	font-size: 14px;
	border-radius: 10px;
	text-align: justify;
	font-weight: 400;
	margin: 15px 0;
}
.job-application-info .job-budget-time h3 {
	font-size: 22px;
	font-weight: 600;
}

.job-application-info .job-budget-time p {
	font-size: 16px;
	font-weight: 400;
	color: #737171;
}
.job-application-title {
	margin: 15px 0;
}
/* -------------------------Apply Page CSS  End--------------------- */

/* -------------------------Single Blog Page CSS  Start--------------------- */
.single-blog-title h2 {
	font-size: 30px;
	font-weight: 600;
}

.single-blog-title h4 {
	font-size: 22px;
	margin: 10px 0;
	margin-bottom: 25px;
}

.single-blog-author-time p {
	font-size: 16px;
	font-weight: 400;
}

.blog-main-bg,
.blog-sub-bg {
	height: 350px;
	border-radius: 10px;
	background-color: #bbb; /* temporary */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 15px 0;
}

.single-blog-details p.blog-text {
	font-size: 16px;
	text-align: justify;
}

.blog-sub-bg {
	height: 290px;
}
.single-blog-content-wrapper {
	padding: 25px 0;
}

.single-blog-details {
	padding-bottom: 30px;
	border-bottom: 1px solid #dfdfdf;
	margin-bottom: 20px;
}
.small-job-card {
	background: white;
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 10px;
}

.small-job-title {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.small-job-title .recruiter-logo {
	width: 35px;
	height: 35px;
	margin-right: 15px;
}

.small-job-title .recruiter-logo img {
	height: 100%;
}

.small-job-title h3 {
	font-size: 16px;
	font-weight: 400;
}

.small-job-bottom {
	font-size: 12px;
	color: #888;
}

.small-job-bottom span {
	color: black;
}
/* -------------------------Single Blog Page CSS  End--------------------- */

/* -------------------------Job Seeker Profile Page CSS  start--------------------- */
.profile-view-bar {
	padding: 50px 30px;
	background: #f4f4f4;
	height: 100%;
}

.profile-bg {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: auto;
}
.profile-view-bar .profile-name-title {
	text-align: center;
}

.profile-view-bar .profile-name-title h3 {
	font-size: 28px;
	margin-top: 20px;
}

.profile-view-bar .profile-name-title p {
	font-size: 18px;
	font-weight: 300;
	margin-top: 5px;
}

.profile-view-bar .contact-details li {
	font-size: 16px;
}

.profile-view-bar .contact-details {
	margin: 30px 0;
}

.important-links .btn {
	display: block;
	margin-bottom: 15px;
	font-weight: 400;
	border-radius: 10px;
}

.important-links .btn.message {
	background: #dcdcdc;
	color: #464646;
	border: 1px solid #c0c0c0;
}
.profile-view-information {
	background: #f4f4f4;
	padding: 30px;
	border-radius: 10px;
	margin-bottom: 20px;
}

.profile-view-information .profile-category {
	font-weight: 300;
}

.profile-view-information .overall-rating {
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: right;
}

.profile-view-information .overall-rating h4 {
	font-size: 18px;
	font-weight: 300;
	margin-right: 10px;
}

.profile-view-information .overall-rating .rating svg {
	color: gray;
}
.profile-view-information .overall-rating .rating svg.iconify.checked {
	color: black;
}

.profile-view-information .profile-title h5 {
	font-size: 20px;
	font-weight: 600;
	position: relative;
	display: inline-block;
}

.profile-view-information .profile-title h5::after {
	position: absolute;
	content: '';
	width: 2008%;
	height: 2px;
	background: #c4c4c4;
	top: 50%;
	left: 110%;
}
.profile-view-information .profile-title {
	overflow: hidden;
	margin-top: 25px;
	margin-bottom: 10px;
}
.profile-view-information .profile-bio,
.profile-view-information .skills-tag,
.profile-view-information .previous-works-list,
.profile-view-information .review-list {
	background: white;
	border-radius: 10px;
	padding: 20px 30px;
}

.profile-view-information .profile-bio h5 {
	font-size: 18px;
}

.profile-view-information .profile-bio p {
	font-size: 16px;
	font-weight: 300;
}

.skills-tag span {
	background: #e3e3e3;
	font-size: 16px;
	padding: 5px 10px;
	border-radius: 10px;
	color: #565454;
	margin-right: 15px;
}
.work-title p {
	display: inline-block;
}

.previous-work-item {
	background: #f4f4f4;
	padding: 15px 20px;
	border-radius: 10px;
	margin-bottom: 15px;
}

.previous-work-item h5 {
	font-size: 18px;
	margin-bottom: 0;
}

.previous-work-item .work-title p {
	font-size: 14px;
	font-weight: 300;
	margin-right: 10px;
}

.previous-work-item .work-title p svg {
	color: #737171;
}

.previous-work-item .rating svg {
	font-size: 20px;
}

.previous-work-item .location-date p {
	font-size: 14px;
}

.previous-work-item .location-date p svg {
	color: #737171;
	margin-right: 5px;
	font-size: 15px;
}
.review-item .reviewer-profile h5 {
	font-size: 14px;
	margin: 0;
}

.review-item .reviewer-profile p {
	font-size: 11px;
	color: gray;
	font-weight: 300;
}

.review-item .review-text {
	font-size: 11px;
	text-align: justify;
}

.review-item .rating {
	margin: 7px 0;
}
/* -------------------------Job Seeker Profile Page CSS  End--------------------- */

/* -------------------------All Job Page CSS  Start--------------------- */
.all-search-bar-area {
	padding: 30px 0;
}

.search-bar-all {
	background: white;
	border: 1px solid #dbdbdb;
	box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 10%);
	border-radius: 5px;
	border-right: 0;
}

.search-by input {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 15px 0;
	padding-left: 50px;
	font-size: 14px;
	color: #838995;
	border: none;
	border-right: 1px solid #dadada;
}
.search-by span {
	position: absolute;
	left: 15px;
	top: 50%;
	margin-top: -14px;
	color: #16395f;
}

.search-by {
	display: inline-block;
	position: relative;
	width: 100%;
}
.search-by input:focus-visible {
	outline: none;
}
.search-by.search-btn input {
	padding: 15px;
	background: #16395f;
	color: white;
	margin-left: 0px;
}

.grid-header {
	background: #358fb21c;
}
.filter-area {
	background-color: #16395f26;
	height: 100%;
}

.filter-header.dark {
	border-bottom: 1px solid #16395f1c;
}

.filter-header {
	padding: 15px;
	display: flex;
	align-items: center;
}

.filter-header span svg {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.filter-header span {
	padding-right: 20px;
}

.filter-header span.filter-header-text {
	font-size: 16px;
}
.filter-header.right span {
	padding: 0;
	padding-left: 20px;
}
.all-filtered-job {
	padding: 25px;
}

.all-filter {
	padding: 15px 25px;
}

.filter-by p {
	margin-bottom: 5px;
}

.filter-by label {
	font-size: 14px;
	padding-left: 5px;
}
.filter-by {
	margin-bottom: 15px;
}
.job-alert-service {
	padding: 10px 25px;
}

.job-alert-service h5 {
	font-size: 18px;
	color: #2b313f;
}

.job-alert-service p {
	font-size: 14px;
	margin-bottom: 10px;
}

.job-alert-service input {
	border: none;
	border-radius: 5px;
	padding: 9px 15px;
	margin-bottom: 10px;
	font-size: 14px;
	width: 100%;
}
.job-alert-service input[type='email'] {
	outline: none;
}

.job-alert-service input[type='submit'] {
	background: #16395f;
	color: white;
}
/* -------------------------All Job Page CSS  End--------------------- */

/* -------------------------Recruiter Dashboard CSS  Start--------------------- */
.dashboard-header {
	background: #c2dce5;
	padding: 7px 0;
}

.header-icon {
	margin-left: 15px;
	display: flex;
	justify-content: right;
	align-items: center;
}
.header-icon .dropdown-toggle::after {
	border: none;
}
.header-icon .dropdown-menu.show a {
	display: block;
	padding: 8px 15px;
	background: transparent;
	transition: 0.3s;
	transition-timing-function: ease-in-out;
	border-bottom: 0.3px solid #16395f17;
}
.header-icon .dropdown-menu.show {
	margin-top: 8px;
}
.header-icon .dropdown-menu.show a:hover {
	background: #16395f;
	color: white;
}
.header-icon .dropdown-menu.show a:last-child {
	border: none;
}

.header-icon img {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	margin-left: 20px;
}
.header-icon span svg {
	width: 18px;
	height: 18px;
	margin-top: 2px;
	color: var(--bgColor);
}
.header-icon span svg:hover {
	color: #16395f;
}

.dashboard-all {
	display: flex;
	flex-wrap: wrap;
	background: #e7eff1;
}
.dashboard-all .left {
	width: 280px;
}
.dashboard-all .mid {
	width: 827px;
}
.dashboard-all .right {
	width: 242px;
}

.dashboard-sidebar .user {
	padding: 20px;
	text-align: center;
	border-bottom: 1px solid #8888;
}

.dashboard-sidebar .user-photo {
	width: 90px;
	height: 90px;
	margin: auto;
	border-radius: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.dashboard-main {
	background: #fafafa;
	height: 100%;
	padding: 15px 20px;
}

.user-info h5 {
	font-size: 20px;
	margin: 0;
}

.user-info {
	margin-top: 10px;
}

.user-info p {
	font-size: 14px;
	color: gray;
}

.dashboard-navigation {
	padding: 20px 0;
}

.dashboard-navigation nav ul li a {
	padding: 7px 25px;
	display: block;
	transition: 0.3s;
	font-size: 18px;
}

.dashboard-navigation nav ul li a span {
	padding-right: 15px;
}

.dashboard-navigation nav ul li a:hover {
	background: #dbe6eb;
	color: #358fb2;
}
.dashboard-navigation nav ul li a.active {
	background: #c2dce5;
	color: #16395f;
}

h3.dashboard-title {
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 15px;
}

.overview-item {
	background: #f9dda9;
	padding: 14px 20px;
	border-radius: 8px;
	position: relative;
}

.overview-item .count {
	color: #ffbc3a;
	font-weight: 700;
}

.overview-item h5 {
	font-size: 16px;
	font-weight: 600;
	margin-top: 5px;
	margin-bottom: 0;
}
.overview-item .overview-icon {
	position: absolute;
	top: 10px;
	right: 10px;
}

span.overview-icon svg {
	width: 40px;
	height: 40px;
	opacity: 20%;
}
.overview-item.two {
	background: #b0d7ea;
}

.overview-item.two .count {
	color: #358fb2;
}

.overview-item.three {
	background: #dbfbcc;
}

.overview-item.three .count {
	color: #96bea4;
}

.overview-item.four {
	background: #f6a3b4;
}

.overview-item.four .count {
	color: #ee4d6e;
}
.dashboard-right-bar {
	padding: 15px 20px;
}

h3.right-bar-title {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 15px;
}
.dashboard-right-content {
	margin-bottom: 30px;
}
.dashboard-right-item {
	background: #b0d7ea;
	width: 100%;
	height: 150px;
	border-radius: 8px;
}
.activity-item {
	background: #e7eff1;
	border-radius: 5px;
}

.activity-title {
	text-align: center;
	padding: 8px 0;
	border-bottom: 1px solid #cfcfcf;
}

.activity-wrapper {
	padding: 15px 20px;
}
.recent-activity {
	margin-bottom: 15px;
}
.recent-activity-icon {
	display: inherit;
}

.recent-activity-icon span {
	width: 40px;
	height: 40px;
	background: #358fb2;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
}

.recent-activity-title {
	padding-left: 15px;
}

.recent-activity-icon svg {
	width: 20px;
	height: 20px;
}

.recent-activity-title h6 {
	font-size: 14px;
	margin: 0;
}

.recent-activity-title p {
	font-size: 12px;
}
.recent-activity-icon span.done {
	background: #96bea4;
}
.recent-activity-icon span.selected {
	background: #ffbc3a;
}

.recent-activity-icon span.reviewed {
	background: #df865e;
}
.activity-calender span {
	width: 40px;
	height: 40px;
	background: #dddd;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	margin-bottom: 9px;
	margin-right: 9px;
	border-radius: 100%;
}

.activity-calender span a {
	font-size: 16px;
}

.activity-calender {
	display: inline-block;
}
.activity-calender span.applied {
	background: #b0d7ea;
}

.activity-calender span.select {
	background: #ffbc3a;
}

.activity-calender span.done {
	background: #96bea4;
}
.edit-profile-area,
.post-job-area,
.manage-job-area {
	background: #f3f3f3ad;
	padding: 25px;
	border-radius: 5px;
	border: 1px solid #8888884a;
}

.edit-title {
	position: relative;
	font-size: 20px;
	margin-bottom: 20px;
}

.edit-title::before {
	content: '';
	position: absolute;
	width: 72%;
	height: 2px;
	top: 15px;
	right: 0;
	background: #a3b3b787;
}

.edit-basic-information {
	margin-bottom: 30px;
}

.edit-organization-information {
	margin-bottom: 30px;
}

.edit-organization-information .edit-title::before {
	width: 61%;
}

.edit-organization-address .edit-title::before {
	width: 66%;
}
.edit-profile-area .form-field,
.post-job-area .form-field {
	margin-bottom: 15px;
}
.profile-img-edit {
	width: 90px;
	height: 90px;
	margin: auto;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	margin-top: 10px;
}

.edit-profile-picture input {
	border: none;
	position: absolute;
	left: 0;
	bottom: -10px;
	border-radius: 0;
}
.edit-profile-picture input::-webkit-file-upload-button {
	visibility: hidden;
}

.edit-profile-picture input::before {
	position: absolute;
	content: '';
	background: #e7eff1;
	width: 100px;
	height: 80px;
	text-align: center;
	left: -6px;
	top: 0;
	opacity: 0.5;
	display: inline-block;
	color: #214367;
	line-height: 33px;
}
.edit-profile-picture input::after {
	position: absolute;
	content: url(https://api.iconify.design/ant-design/camera-filled.svg?width=25);
	left: 50%;
	top: 5px;
	opacity: 1;
	display: inline-block;
	line-height: 40px;
	margin-left: -13px;
}

.edit-profile-picture p {
	font-size: 12px;
	margin-top: 5px;
}
.job-view-filter .form-field input,
.job-view-filter .form-field select {
	background: #fbfdff;
	border: 0.5px solid #cbcbcb;
	font-weight: 300;
}


.job-view-filter {
	margin-bottom: 20px;
}
.manage-job-table table th {
	background: #e7eff1;
	padding: 8px 20px;
	width: 100%;
}

.manage-job-table table tbody td {
	padding: 5px 10px;
	background-color: #80808021;
	font-size: 14px;
	color: #2b313f;
}
.manage-job-table table tbody tr {
	border-bottom: 15px solid #f7f7f7;
	border-top: 15px solid #f7f7f7;
}
.manage-job-table .job-title {
	margin: 0;
}

.manage-job-table .job-title h5 {
	font-size: 18px;
}

.manage-job-table .job-title p {
	font-size: 12px;
}

.manage-job-table .job-title p span svg {
	color: #737171;
	font-size: 14px;
}
.manage-job-table td .job-status {
	background: #a6e5bc;
	color: white;
	font-size: 13px;
	padding: 2px 5px;
	border-radius: 4px;
	text-align: center;
}

.manage-job-table td .job-status.pending {
	background: #ffbc3a;
}

.manage-job-table th.title {
	width: 60%;
}

.manage-job-table th.status {
	width: 5%;
}

.manage-job-table th.date {
	width: 16%;
}

.manage-job-table .btn {
	padding: 5px 8px;
	margin-right: 5px;
}

.manage-job-table .btn svg {
	font-size: 18px;
	color: black;
}

.manage-job-table .btn.edit {
	background: #96bea4;
}

.manage-job-table .btn.delete {
	background: #ee4d6e;
}
.ongoing-job-area {
	background: #fbfbfb;
	padding: 20px;
	border-radius: 7px;
	border: 1px solid #8888884d;
}

.ongoing-job-item {
	background: #f4f4f4;
	padding: 15px;
	border-radius: 7px;
	border: 0.5px solid #88888817;
	align-items: center;
	padding-bottom: 50px;
	margin-bottom: 15px;
}

.ongoing-job-header {
	display: flex;
	justify-content: space-between;
}

.ongoing-job-header h5 {
	font-size: 18px;
	font-weight: 400;
}

.ongoing-job-header p {
	color: #737171;
	font-size: 14px;
}

.ongoing-job-cards .ongoing-card {
	width: 40px;
	height: 40px;
	background: #c4c4c4;
	border-radius: 50%;
}

.ongoing-job-cards {
	display: flex;
	justify-content: space-around;
	position: relative;
	z-index: 4;
}

.ongoing-card p {
	margin-top: 45px;
	margin-left: 3px;
	font-size: 12px;
	color: #666666;
}

.ongoing-job-progress {
	width: 80%;
	height: 4px;
	background: #c4c4c494;
	position: absolute;
	margin: auto;
	margin-top: -20px;
	left: 10%;
	z-index: 1;
}

.ongoing-job-content {
	position: relative;
}

.ongoing-job-progress::before {
	content: '';
	position: absolute;
	background: gray;
	height: 4px;
	width: 50%;
	z-index: 2;
}
.ongoing-card.active {
	background: gray;
}
.event-wrapper {
	background: #add1dd61;
	border-radius: 10px;
	padding: 10px 14px;
}

.event-title {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	padding: 5px;
	font-size: 14px;
	color: #888;
}

.event-item {
	display: flex;
	align-items: self-start;
	margin-bottom: 15px;
}

.event-icon-wrap {
	background: white;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 100%;
	font-size: 14px;
	line-height: 30px;
}

.event-icon {
	margin-right: 5px;
}

.event-title span {
	color: black;
}
/* -------------------------Recruiter Dashboard CSS  End--------------------- */

/* -------------------------Location Page CSS  Start--------------------- */
.location-page {
	margin-top: 70px;
	height: 100vh;
	display: flex;
}
.location-page .side-bar {
	width: 400px;
	background: #fff;
	padding: 10px;
}
.location-page .window {
	width: 100%;
	background: whitesmoke;
	padding: 10px;
}
/* -------------------------Location Page CSS  End--------------------- */

/* -------------------------PopUp Chat CSS  Start--------------------- */
.popup-chat {
	width: 45px;
	height: 45px;
	border: none;
	padding: 0;
	border-radius: 50%;
	background: var(--bgColor5);
	position: fixed;
	bottom: 10px;
	left: 10px;
}
.popup-chat svg {
	color: whitesmoke;
	font-size: 28px;
	margin: 9px;
}
/* -------------------------PopUp Chat CSS  End--------------------- */

/* -------------------------Recruiter Posted JOb Page CSS  Start--------------------- */
.see-posted-job-area {
	background: #fbfbfb;
	border-radius: 10px;
	border: 0.3px solid #c6e1cda6;
}

.see-posted-job-header {
	background: #e9fbee;
	border-radius: 10px 10px 0px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 0.3px solid #c6e1cda6;
}

.see-posted-job-header .job-header-content span {
	font-size: 12px;
}

.see-posted-job-header .job-header-content h4 {
	font-size: 16px;
	font-weight: 500;
}

.see-posted-job-header .job-header-content {
	padding: 15px 15px;
}

.see-posted-job-header .job-header-content.applicant {
	background: #96bea440;
	border-radius: 10px 10px 0px 0px;
	padding-right: 50px;
}
.see-posted-job-header .job-header-right {
	display: flex;
	align-items: center;
	background: rgba(150, 190, 164, 0.25);
	border-radius: 10px 10px 0px 0px;
}

.see-posted-job-header .job-header-content.status {
	padding-right: 40px;
}
.job-header-content.action .btn {
	background: #ffbc3a;
	color: black;
	padding: 7px 10px;
	font-size: 22px;
	line-height: 22px;
}

.job-header-content.action .btn.delete {
	background: #ee4d6e;
}
.see-posted-job-footer,
.avaiable-jobseeker-footer {
	background: #e9fbee;
	border-radius: 0px 0px 10px 10px;
	padding: 5px 0;
	border-top: 0.3px solid #c6e1cda6;
}

.see-posted-job-footer .pagination-wrapper,
.avaiable-jobseeker-footer .pagination-wrapper {
	background: transparent;
}

.see-posted-job-footer .pagination-wrapper a,
.avaiable-jobseeker-footer .pagination-wrapper a {
	font-size: 14px;
}
.see-posted-job-content {
	padding: 15px 20px;
}
.applicant-information-filter {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.show-all-applicant {
	display: flex;
	align-items: center;
}

.applicant-filter {
	display: flex;
	align-items: center;
}

.applicant-information-filter {
	background: #e9f2fb;
	padding: 10px 20px;
	font-size: 14px;
	color: #434343;
}

.show-all-applicant .btn {
	background: #74cfe4;
	font-size: 14px;
	margin-right: 15px;
}

.applicant-information-filter .display-page span {
	font-size: 24px;
	margin-right: 5px;
}

.applicant-information-filter .display-page {
	display: flex;
	align-items: center;
}

.applicant-filter .filter-meta {
	display: flex;
	align-items: center;
	font-size: 22px;
}

.applicant-filter .filter-meta span.filter-header-text {
	font-size: 14px;
	margin-left: 5px;
	margin-right: 15px;
}
.applicant-information-table th {
	background: #b8e2f1;
	padding: 10px 15px;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
}

.applicant-information-table th.name {
	width: 20%;
}
.applicant-information-table td.img .img {
	width: 40px;
	height: 40px;
	background: #b8e2f1;
	margin: auto;
	border-radius: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.applicant-information-table td {
	font-size: 14px;
	text-align: center;
}
.applicant-information-table td.message {
	font-size: 13px;
}

.applicant-information-table th.status {
	width: 16%;
}

.applicant-information-table td .status {
	background: #ffbc3a;
	border-radius: 5px;
	padding: 3px 8px;
}

.applicant-information-table td.name {
	font-weight: 500;
}
.applicant-information-table .data-row {
	border-top: 10px solid #fbfbfb;
	border-bottom: 10px solid #fbfbfb;
	position: relative;
}

.applicant-information-table .data-row::after {
	position: absolute;
	content: '';
	background: #dae1e9;
	width: 100%;
	height: 1px;
	left: 0;
	bottom: -30%;
}
.applicant-information-table .data-row:last-child::after {
	height: 0;
}
.applicant-information-table td .status.rejected {
	background: #ee4d6e;
}

.applicant-information-table td .status.hired {
	background: #c6e1cd;
}
/* -------------------------Recruiter Posted JOb Page CSS  End--------------------- */

/* -------------------------Location Job Page CSS  Start--------------------- */
.btn.apply-filter {
	width: 100%;
	background: #16395f;
	font-weight: 500;
}

.job-map-sidebar {
	background: #f8f8f8;
	height: 100%;
}

.location-search {
	padding: 0px 25px;
	padding-top: 15px;
}

.location-search h5 {
	font-size: 18px;
	margin-bottom: 15px;
}

.location-search .form-field label {
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 5px;
}

.job-map-area .map {
	background: #358fb2a6;
	height: 710px;
	border-radius: 10px;
}

.job-map-area {
	padding: 15px 0px;
}
.selected-location-based-job {
	padding: 0px 15px;
	margin: 15px 0;
}
/* -------------------------Location JOb Page CSS  End--------------------- */

/* -------------------------Avaiabel Job Seeker Page CSS  Start--------------------- */
.avaiable-jobseeker-title h3,
.sidebar-title h3 {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 15px;
}

.sidebar-content {
	background: #edf1f5;
	height: 96%;
	width: 100%;
	display: block;
	border-radius: 10px;
}

.all-sidebar {
	height: 100%;
}

.avaiable-jobseeker-wrapper {
	background: #fbfbfb;
	border-radius: 10px;
	border: 0.3px solid #c6e1cda6;
}

.avaiable-jobseeker-header {
	background: #d4ecdb;
	padding: 10px 20px;
	border-radius: 10px 10px 0px 0px;
	display: flex;
	align-items: center;
}

.avaiable-jobseeker-header p {
	font-size: 14px;
	font-weight: 500;
}

.avaiable-jobseeker-header p span {
	font-size: 16px;
	margin-right: 5px;
}

.avaiable-jobseeker-filter {
	display: flex;
	justify-content: space-between;
	background: #e9f2fb;
	padding: 10px 20px;
	align-items: center;
}

.avaiable-jobseeker-filter .show-all-applicant {
	font-size: 14px;
}

.avaiable-jobseeker-filter .show-all-applicant span {
	font-size: 22px;
	margin-right: 10px;
}

.avaiable-jobseeker-filter .show-all-applicant p,
.avaiable-jobseeker-filter .show-all-applicant .display-page {
	display: flex;
	align-items: center;
}

.avaiable-jobseeker-filter .show-all-applicant p {
	margin-right: 20px;
}
.avaiable-jobseeker-filter .form-field select {
	margin: 0;
}
.avaiable-jobseeker-cards-warapper {
	padding: 10px 25px;
}

.avaible-jobseeker-card {
	border: 1px solid #96bea4;
	border-radius: 10px;
	background: white;
	box-shadow: 1px 1px 0px 1px #96bea4;
	margin: 10px 0;
}

.avaiable-jobseeker-card-footer {
	background: #d4ecdb;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-top: 1px solid #96bea4;
	padding: 10px 0;
}

.avaiable-jobseeker-rating .rating svg {
	color: #4c9566;
	font-size: 16px;
}

.avaiable-jobseeker-rating span {
	font-size: 15px;
	margin-left: 6px;
}

.avaiable-jobseeker-rating {
	display: flex;
	align-items: center;
}

.btn.jobseeker-profile {
	background: #96bea4;
	color: #2f4e39;
	padding: 3px 10px;
	font-size: 14px;
	border: 0.5px solid #65a97d;
	line-height: 28px;
}
.avaiable-jobseeker-dp {
	width: 60px;
	height: 60px;
	background: #d4ecdb;
	border-radius: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.avaiable-jobseeker-profile {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.about-avaiable-jobseeker {
	font-size: 12px;
}

.avaiable-jobseeker-card-content {
	padding: 10px 15px;
}

.avaiable-jobseeker-info .name {
	font-size: 18px;
}

.avaiable-jobseeker-info .designation {
	font-size: 12px;
	margin: 3px 0;
	margin-bottom: 0px;
}

.avaiable-jobseeker-info .avaiabele-status {
	font-size: 12px;
	background: #5ed788;
	color: white;
	padding: 3px 11px;
	border-radius: 5px;
	display: inline-block;
	margin: 0;
	margin-bottom: 10px;
}
/* -------------------------Avaiabel Job Seeker Page CSS  End--------------------- */

/* -------------------------Simple Spinner CSS Start--------------------- */
.holder {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.square {
	width: 1em;
	height: 1em;
	background: #2980b9;
	border-radius: 50%;
	font-size: 100px;
	animation: spin 0.7s linear infinite, to-circle 0.7s infinite alternate linear;
}
@keyframes spin {
	to {
		transform: rotateY(0.5turn);
	}
}
@keyframes to-circle {
	0%,
	49% {
		background: #2980b9;
	}
	50%,
	100% {
		background: #f39c12;
	}
}
/* -------------------------Simple Spinner CSS End--------------------- */
