/*!
 * Name : HourlyFinder
 * Version: 1.0.0
 * Author: Team CodeDamn
 * Author URL: https://sites.google.com/view/codedamn
 * Github: https://github.com/sajeebdebnath
 * HourlyFinder . Copyright . CodeDamn 2021 (Find Hourly Jobs nearby)

 * Table of Contents:
    A. Home
        01. Header Section
        02. Hero Section
        03. Most Recent Jobs Section
        04. Browse Jobs by Category
        05. Browse Jobs by Cities
        06. How it works
        07. User Feedback
        08. Latest Blog
        09. Newsletter
        10. Footer Section
	B. About
		01. Intro Section
		02. Story Section
		03. Team Section
		04. Future Section
		05. Roadmap Section
	C. Contact Us
	D. Registration & Login
	E. All Blog
*/

/* ------------------------- Home Start --------------------- */
/* ------------------------- Header Section CSS Start --------------------- */
.header-top-area {
	background-color: #ffffff69;
	padding: 15px 0px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 99;
}
.header-top-area.active {
	background-color: #ffffff;
	box-shadow: 0 2px rgb(238, 238, 238);
}
.menu-area {
	text-align: right;
}
.menu-area nav {
	display: inline-block;
}
.menu-area nav ul li {
	display: inline-block;
	padding: 0px 15px;
}
.menu-area nav ul li a {
	font-size: var(--smallFont);
	text-decoration: none;
	font-weight: bold;
	color: var(--bgColor);
}
.menu-area nav ul li a:hover {
	color: #16395f;
}
.menu-area nav ul li .active {
	color: #16395f;
}
a.btn.join-us {
	margin-left: 30px;
}
/* ------------------------- Header Section CSS End --------------------- */

/* -------------------------Hero Section CSS Start --------------------- */
.hero-area {
	background: var(--hero-image) no-repeat;
	background-color: #c9f0f2;
	height: 100vh;
	background-position: bottom;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
	background-attachment: fixed;
}
.hero-text h1 {
	font-size: var(--largFont);
	font-weight: bold;
	color: var(--textColor);
}

.hero-text span {
	background-color: var(--bgColor2);
}

.hero-text p {
	margin-bottom: 30px;
	margin-top: 20px;
}

.hero-search-bar {
	margin-left: 0px;
}

form.search-form .search-field {
	width: 100%;
	padding: 17px;
	padding-left: 60px;
	border-radius: 5px;
	border: 1px solid #dbdbdb;
	box-shadow: 1px 2px 0px 1px #0000001a;
	position: relative;
	color: #838995;
	outline-color: transparent;
}
form.search-form .get-started {
	position: absolute;
	right: 17px;
	top: 20%;
}

form.search-form {
	position: relative;
}

form.search-form svg {
	position: absolute;
	left: 15px;
	top: 50%;
	font-size: 32px;
	color: var(--bgColor);
	margin-top: -16px;
}
.search-bar {
	position: relative;
}

.search-bar .tag {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: left;
}

.search-bar .tag span a {
	font-size: var(--smallFont);
	color: #16395f;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
}

.search-bar .tag span:nth-child(2) {
	position: absolute;
	right: 0;
}
/* -------------------------Hero Section CSS End --------------------- */

/* -------------------------Most Recent Job Section CSS Start --------------------- */
.job-card {
	background: #ffffff;
	border: 1px solid var(--bgColor3);
	box-shadow: 2px 3px 0px 2px var(--bgColor3);
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 30px;
	height: auto;
}
.about-recruiter a .recruiter-logo {
	width: 50px;
	height: 50px;
	border-radius: 10px;
}

.recruiter-title {
	font-size: var(--smallFont);
	margin-left: 25px;
	font-weight: 400;
	margin-bottom: 0;
	word-break: break-word;
}

.post_time {
	font-weight: 300;
}

.job-title {
	font-size: var(--normalFont);
	margin: 10px 0px;
}

.job-status {
	font-size: var(--smallFont);
}

.job-content {
	margin-top: 15px;
	word-break: break-word;
}
.job-keyword .job-tag,
.blog-keyword .blog-tag {
	background: #e3e3e3;
    display: flex;
	align-items: center;
    font-size: var(--smallFont);
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
	word-break: initial;
}
.job-tag div,
.blog-tag div {
	background: #bbbaba;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 5px;
}

.job-keyword,
.blog-keyword {
	margin-top: 10px;
	display: flex;
}
.job-tag div.creative,
.blog-tag div.house {
	background: #358fb2;
}
.job-tag div.service,
.blog-tag div.painting {
	background: darkorange;
}

/* -------------------------Most Recent Job Section CSS End --------------------- */

/* -------------------------Browse Jobs by Category Section CSS Start --------------------- */
.browse-jobs-categories {
	background-color: var(--sectionBg);
}
.category-item {
	background: #ffffff;
	border: 1px solid var(--bgColor3);
	box-shadow: 2px 3px 0px 2px var(--bgColor3);
	border-radius: 10px;
	padding: 20px;
	height: 200px;
	margin-bottom: 25px;
}

.category-icon {
	text-align: right;
	margin-bottom: 10px;
}

.category-icon svg {
	font-size: 86px;
	color: #cccccc;
}

.category-name h3 {
	font-size: 22px;
}
/* -------------------------Browse Jobs by Category Section CSS End --------------------- */

/* -------------------------Browse Jobs by Cities Section CSS Start --------------------- */
.location-based-jobs {
	/* background: url(../images/homepage/cities/dhaka.png); */
	background-repeat: no-repeat;
	border: 1px solid var(--bgColor3);
	box-shadow: 2px 3px 0px 2px var(--bgColor3);
	border-radius: 10px;
	height: 230px;
	padding: 20px;
	position: relative;
	background-position: right;
	background-size: contain;
}
.location-based-jobs.bg-2 {
	/* background-image: url(../images/homepage/cities/chittagong.png); */
	background: red;
}
.location-based-jobs.bg-3 {
	/* background-image: url(../images/homepage/cities/rajshahi.png); */
	background: red;
}
.location-based-jobs.bg-4 {
	/* background-image: url(../images/homepage/cities/sylhet.png); */
	background: red;
}
.location-name {
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.location-name h4 {
	font-size: var(--mediumFont);
	margin-top: 5px;
}
/* -------------------------Browse Jobs by Cities Section CSS End --------------------- */

/* -------------------------How Works it Section CSS Start --------------------- */
.how-works-site {
	background: var(--sectionBg);
}
#jobMap {
	height: 260px;
	color: var(--bgColor2);
	border: 2px solid var(--bgColor3);
	border-radius: 10px;
	background-color: white;
	box-shadow: 2px 3px 0px 2px var(--bgColor3);
	z-index: 90;
}
.how-works-content h2 {
	font-size: 32px;
	font-weight: 600;
}
.how-works-content h3 {
	font-size: 22px;
	margin: 10px 0;
}
.how-works-content {
	padding-right: 35px;
}
.how-works-content .btn {
	margin-top: 25px;
	padding: 7px 25px;
}

/* -------------------------How Works it Section CSS End --------------------- */

/* -------------------------User Feedback Section CSS Start --------------------- */
.feedback-wrapper {
	background: white;
	border: 1px solid var(--bgColor3);
	border-radius: 10px;
	padding: 25px 20px;
	text-align: center;
	width: 350px;
}

.feedback-wrapper .user-info .user-avatar {
	width: 80px;
	height: 80px;
	overflow: hidden;
	margin: auto;
	border-radius: 50%;
}
.feedback-wrapper .user-info .user-avatar img {
	width: 100%;
}

.feedback-wrapper .user-info h4 {
	font-size: var(--mediumFont);
	margin: 5px 0px;
}

.feedback-wrapper .user-info p {
	font-size: var(--smallFont);
	color: #00000096;
}

.feedback-wrapper .user-info {
	margin-bottom: 20px;
}

.feedback-wrapper .user-feedback blockquote {
	font-size: var(--normalFont);
	margin-bottom: 0;
}
.user-feedback-area .owl-carousel .owl-item img {
	display: inline-block;
}
.user-feedback-area .owl-carousel .owl-stage-outer {
	height: 270px;
}
/* -------------------------User Feedback Section CSS End --------------------- */

/* -------------------------Latest Blog Section CSS Start --------------------- */
.latest-blog-area {
	background-color: var(--sectionBg);
}
.blog-item {
	background: #ffffff;
	border: 1px solid #cbcbcb;
	border-radius: 10px;
	padding: 20px;
	height: 400px;
	position: relative;
	padding-top: 180px;
	margin-bottom: 25px;
}
.blog-bg {
	position: absolute;
	width: 100%;
	height: 180px;
	left: 0;
	top: 0;
	/* background-image: url("%PUBLIC_URL%/images/homepage/blogimage/image1.jpg"); */
	background-size: cover;
	background-position: center;
	border-radius: 9px 9px 0px 0px;
}

.blog-item .blog-author-time p {
	font-size: var(--smallFont);
	color: #00000094;
}

.blog-item .blog-author-time p span.author {
	color: black;
}
.blog-text {
	margin-top: 15px;
}
.blog-item .blog-text h3 {
	font-size: 20px;
	font-weight: 600;
	margin: 10px 0;
}

.blog-item .blog-text p {
	font-size: 16px;
}

.blog-content {
	margin-top: 10px;
}

/* -------------------------Latest Blog Section CSS End --------------------- */

/* -------------------------Newsletter Section CSS Start --------------------- */
.newsletter-content {
	text-align: center;
}

.newsletter-content h4 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 10px;
}

.newsletter-form {
	position: relative;
	margin: 10px 0;
}

.newsletter-form .newsletter-email {
	width: 100%;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	box-shadow: 1px 2px 0px 1px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 15px;
	position: relative;
	padding-left: 70px;
	outline-color: var(--bgColor);
	font-weight: 400;
	color: #838995;
}
.newsletter-form .btn.newsletter {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px 25px;
	font-size: 18px;
	font-weight: 300;
}

.newsletter-form svg {
	font-size: 32px;
	color: #838995;
	position: absolute;
	left: 15px;
	top: 50%;
	margin-top: -16px;
}
.newsletter-content p {
	font-size: var(--smallFont);
	color: #838995;
}
/* -------------------------Newsletter Section CSS End --------------------- */

/* -------------------------Footer Section CSS Start --------------------- */
.footer-menu-area{
    background-color: var(--sectionBg);
 }
 .footer-menu nav ul li {
    font-size: 20px;
    margin-bottom: 5px;
 }
 
 .footer-menu {
    margin-top: 20px;
 }
 .footer-copyright-area {
    background: #323232;
    color: white;
    padding: 20px;
 }
 
 .copyright-text {
    text-align: right;
    font-weight: 300;
 }
/* -------------------------Footer Section CSS End --------------------- */
/* ------------------------- Home End --------------------- */

/* -------------------------About Page CSS  Start--------------------- */
/* -------------------------Intro Section CSS Start --------------------- */

.intro-area {
	text-align: center;
	width: 100%;
	height: 400px;
	background: var(--about-image) no-repeat;
	background-color: #fafafa;
	background-position: bottom;
	position: relative;
	background-size: contain;
}
.intro-heading {
	font-size: var(--largFont);
	font-weight: bold;
	color: var(--textColor);
}
.intro-heading::after {
	content: '';
	background: var(--bgColor);
	display: block;
	margin: 5px auto;
	width: 70%;
	height: 7px;
}
.intro-text p {
	width: 400px;
	margin-bottom: 30px;
	margin-top: 20px;
}
/* -------------------------Intro Section CSS End --------------------- */

/* -------------------------Story Section CSS End --------------------- */
.story-area {
	background-color: #ececec;
	display: flex;
	gap: 5em;
	justify-content: center;
	flex-wrap: wrap;
}
.story-image {
	padding: 50px 0;
}
.story-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.story-heading::after {
	content: '';
	background: var(--bgColor);
	display: block;
	width: 30%;
	height: 3px;
	margin-top: 5px;
}
.story-text h3 {
	font-size: var(--mediumFont);
	font-weight: 600;
	color: var(--textColor);
}
.story-text p {
	max-width: 400px;
	line-height: 32px;
	margin-bottom: 20px;
	margin-top: 30px;
}
/* -------------------------Story Section CSS End --------------------- */

/* -------------------------Team Section CSS End --------------------- */
.team-area {
	height: 400px;
	background-color: #fafafa;
}
.team-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.team-heading::after {
	content: '';
	background: var(--bgColor);
	display: block;
	width: 100%;
	height: 3px;
	margin-top: 5px;
}
.team-content h3 {
	font-size: var(--mediumFont);
	font-weight: 600;
	color: var(--textColor);
}
.team-content p {
	width: 400px;
	line-height: 32px;
	margin-bottom: 20px;
	margin-top: 30px;
}
.team-cards {
	display: flex;
	justify-content: space-around;
}
.team-card {
	color: black;
	background-color: #c4c4c4;
	border: 1px solid #bbbbbb;
	width: 170px;
	height: 250px;
	margin: 20px;
	border-radius: 10px;
	overflow: hidden;
}
.team-card img {
	width: 100%;
}
.team-card-title {
	z-index: 99;
	color: #000000;
	height: 65px;
	width: 100%;
	bottom: 0;
	padding: 8px 0px;
	background-color: #fff;
	transform: translateY(-26px);
	text-align: center;
}
.team-card-title h4 {
	margin-bottom: 0;
	font-size: 0.9em;
	font-weight: 600;
}
.team-card-title small {
	font-size: 14px;
}
/* -------------------------Team Section CSS End --------------------- */

/* -------------------------Future Section CSS End --------------------- */
.future-area {
	background-color: #ececec;
	display: flex;
	gap: 20px;
	justify-content: center;
	flex-wrap: wrap;
}
.future-image,
.future-text {
	padding: 50px 0;
}
.future-content {
	display: flex;
	gap: 5em;
	justify-content: space-around;
}
.future-heading::after {
	content: '';
	background: var(--bgColor);
	display: block;
	position: absolute;
	width: 38%;
	height: 3px;
	right: 0;
	margin-top: 5px;
}
.future-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: right;
	position: relative;
}
.future-text h3 {
	font-size: var(--mediumFont);
	font-weight: 600;
	color: var(--textColor);
}
.future-text p {
	max-width: 400px;
	line-height: 32px;
	margin-bottom: 20px;
	margin-top: 30px;
}
/* -------------------------Future Section CSS End --------------------- */

/* ------------------------- Roadmap Section CSS Start --------------------- */
.roadmap-area {
	height: 400px;
	background-color: #fafafa;
}
.roadmap-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.roadmap-heading::after {
	content: '';
	background: var(--bgColor);
	display: block;
	width: 100%;
	height: 3px;
	margin-top: 5px;
}
.roadmap-content h3 {
	font-size: var(--mediumFont);
	font-weight: 600;
	color: var(--textColor);
}
.roadmap-cards {
	width: 672px;
	margin: 30px;
	display: flex;
	justify-content: space-around;
}
.roadmap-card {
	position: relative;
	width: 75px;
	height: 75px;
	text-align: center;
	padding-top: 11px;
	background-color: #dfdfdf;
	border-radius: 50%;
}
.roadmap-card p {
	margin-top: 15px;
}
.roadmap-road {
	width: 60%;
	height: 10px;
	background-color: #dfdfdf;
	margin-top: -72px;
	margin-bottom: 100px;
}
.roadmap-progress {
	background-color: #c4c4c4;
	width: 55%;
	height: 100%;
}

/* ------------------------- Roadmap Section CSS End --------------------- */
/* -------------------------About Page CSS  End--------------------- */


/* -------------------------Contact Us Page CSS  Start--------------------- */
.contact-sidebar {
    background: #16395f17;
    padding: 10px 30px;
    height: 100%;
 }
 
 .contact-information p, .about-hourlyfinder p {
    margin: 15px 0;
    font-size: 16px;
    text-align: justify;
 }
 
 .siderbar-border {
    border-bottom: 1px solid #9E9E9E;
     padding: 20px 0px;
 }
 .contact-area {
    background: #F6F6F6;
    border-bottom: 0.5px solid #e1e1e1;
 }
 
 .contact-form-area {
    padding: 30px 0;
 }
 
 .contact-form-area .contact-form {
    background: white;
    padding: 30px 35px;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 1px 0px 5px 0px #ccc;
 }
 h2.contact-title, .faq-title h2 {
    font-size: 28px;
 }
 h2.contact-title, .faq-title h2 {
    font-size: 28px;
 }
 
 .form-field .contact-phone {
    width: 47%;
    float: left;
 }
 
 .form-field .profile {
    width: 47%;
    float: right;
    display: block;
 }
 
 .contact-form .form-field input {
    margin-bottom: 10px;
 }
 .faq-title {
    position: relative;
    display: block;
    margin-bottom: 25px;
 }
 
 .faq-title::after {
    position: absolute;
    content: "";
    width: 90%;
    height: 2px;
    right: 0;
    top: 50%;
    background: #737171;
 }
 .faq-question-item {
    padding: 20px 30px;
    border-radius: 10px;
    background: white;
    margin-bottom: 20px;
    box-shadow: 1px 0px 5px 0px #ccc;
 }
 
 .question-button {
    border: none;
    font-size: 22px;
    font-weight: 500;
    margin: 0;
    display: block;
    width: 100%;
    position: relative;
    text-align: left;
    transition: 0.5s;
    background-color: transparent;
    margin-left: -6px;
 }
 
 
 .question-button.collapsed:after {
    position: absolute;
    content: "+";
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 23px;
 }
 .question-button:after{
    position: absolute;
    content: "-";
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 23px;
 }
 .answers-body {
    padding: 10px 0;
    text-align: justify;
    font-size: 16px;
    border-top: 1px solid #CBCBCB;
    margin-top: 15px;
 }
 /* -------------------------Contact Us Page CSS  End--------------------- */

/* -------------------------Registration & Login Page CSS Start--------------------- */
.registration-area,
.jobs-application-area {
    margin-top: 70px;
	background: #dddddd;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90vh;
}

.registration-box,
.application-box {
	width: 960px;
	height: 540px;
	border-radius: 30px;
	background: white;
}

.registration-left {
	width: 50%;
	background: #2b313f;
	height: 100%;
	border-radius: 30px;
	position: relative;
	overflow: hidden;
	float: left;
}

.registration-left::after {
	content: '';
	position: absolute;
	top: -5%;
	left: -50%;
	height: 130%;
	width: 100%;
	background: #358fb2;
	transform: skew(-25deg, 0deg);
}

.registration-left::before {
	content: '';
	position: absolute;
	/* background: url(../images/registrationpage/timer.svg); */
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	z-index: 4;
	margin-top: -100px;
	margin-left: -100px;
	background-position: center;
	background-size: cover;
}
.registration-left-content {
	position: absolute;
	width: 80%;
	margin: auto;
	height: 80%;
	background: linear-gradient(
		148.31deg,
		rgba(255, 255, 255, 0.165) 0%,
		rgba(255, 255, 255, 0.3) 100%
	);
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(20px);
	/* Note: backdrop-filter has minimal browser support */
	border-radius: 10px;
	z-index: 70;
	left: 50%;
	top: 50%;
	margin-left: -40%;
	margin-top: -44%;
	padding: 20px;
}

.registration-left-content .normal-logo {
	background: rgba(43, 49, 63, 0.1);
	display: inline-block;
	padding: 5px 15px;
}

.registration-left-content .normal-logo h3 {
	font-size: var(--mediumFont);
	color: #f2ecdc;
	font-weight: 500;
}

.registration-left-text h2 {
	font-size: 35px;
	font-weight: bold;
}
.registration-status-info h4 a {
	font-size: 20px;
	color: white;
	font-weight: 500;
}

.registration-left-text {
	margin: 30px 0;
}

.registration-status-info {
	color: white;
}

.registration-left-text p {
	margin-top: 5px;
}
.registration-form,
.apply-form,
.job-application-info {
	width: 50%;
	float: right;
	padding: 25px 50px;
	display: flex;
	align-items: center;
	height: 100%;
}
.registration-form .form {
	width: 100%;
}
.form-field input,
.form-field select,
.form-field textarea {
	display: block;
	border: 2px solid #f2f2f2;
	box-sizing: border-box;
	border-radius: 10px;
	width: 100%;
	color: #838995;
	font-size: var(--smallFont);
	padding: 7px 15px;
	outline-color: var(--bgColor);
	margin-bottom: 5px;
}

.registration-form h2,
.apply-form h2 {
	margin-bottom: 15px;
}

.form-field label {
	font-size: 16px;
	font-weight: 600;
}
.form-field .first-name {
	float: left;
	width: 47%;
}
.form-field .last-name {
	float: right;
	width: 47%;
}
.form-field.stay-login input,
.form-field.agree input {
	width: auto;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 15px;
}

.form-field .btn {
	background: #16395f;
	color: white;
}
/* -------------------------Registration Page CSS  End--------------------- */


/* -------------------------All Blog Page CSS  Start--------------------- */
.weekly-blog {
	width: 100%;
	height: 250px;
	border-radius: 10px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.blog-slide.owl-carousel {
	position: relative;
	padding: 0 40px;
}

.weekly-blog-content p.author-time {
	font-size: 14px;
	font-weight: 400;
	color: #737171;
}

.weekly-blog-content h3 {
	font-size: var(--mediumFont);
	margin: 15px 0px;
	margin-bottom: 7px;
}

.weekly-blog-content {
	padding-right: 40px;
}

.weekly-blog-content p {
	font-size: 16px;
	text-align: justify;
}

.blog-slide .owl-nav {
	position: absolute;
	width: 100%;
	top: 35%;
	left: 0;
	margin-top: -25px;
}

.blog-slide .owl-nav button span {
	font-size: 50px;
}
.blog-slide .owl-nav button.owl-next {
	right: 0;
	position: absolute;
}
.blog-slide .owl-dots {
	position: absolute;
	bottom: -25px;
	left: 50%;
}

.blog-slide .owl-dots .owl-dot {
	width: 10px;
	height: 10px;
	background: rgb(182, 182, 182);
	border-radius: 50%;
	margin: 0 5px;
}

.blog-slide .owl-dots .owl-dot.active {
	background: var(--bgColor);
}
.pagination-wrapper {
	background: #cccc;
	padding: 8px 20px;
	text-align: center;
}

.pagination-wrapper a {
	font-size: 20px;
	font-weight: 700;
	margin: 0 15px;
}

.pagination-wrapper a.active {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #262626;
	display: inline-block;
	color: white;
	line-height: 36px;
}

.pagination-wrapper a.page {
	font-weight: 300;
	text-transform: uppercase;
}

.pagination-wrapper a svg {
	margin-right: 10px;
}
.pagination-wrapper a.next svg {
	margin-left: 10px;
}
.blog-contents {
	padding: 30px 0;
}
.side-bar-right {
	background: #dfdfdf;
	padding: 30px 15px;
	height: 100%;
}

.side-bar-right .job-card .recruiter-title {
	margin-left: 15px;
}

.side-bar-right .job-card .job-title {
	font-size: 20px;
}
.advertizement-bg {
	width: 100%;
	height: 600px;
	background: lightslategray;
	border-radius: 10px;
}
.all-blog-area,
.single-blog-area {
	background: #f6f6f6;
	border-bottom: 0.5px solid #dfdfdf;
}
/* -------------------------All Blog Page CSS  End--------------------- */
