/* Mobile Menu */
@media screen and (max-width: 900px) {
  .header-top-area .logo {
    margin-left: 25px;
  }
  .navigation .menu-area {
    display: none;
    transform: translateX(-1000%);
    transition: transform 1s ease;
  }
  .menu-trigger {
    display: block;
  }
  .navigation .menu-area.expand {
    display: block;
    transform: translateX(0%);
    width: 100%;
    position: absolute;
    top: 57px;
    left: 0;
    background: linear-gradient(148.31deg, rgba(255, 255, 255, 0.165) 0%, rgba(255, 255, 255, 0.3) 100%);
    backdrop-filter: blur(10px);
    height: calc(100vh - 60px);
    text-align: center;
  }

  .navigation .menu-area.expand ul {
    transition: transform 1s ease;
    display: block;
  }

  .menu-area.expand .join-us {
    margin: 0;
    margin-top: 20px;
    font-size: 16px;
  }

  .menu-area.expand nav {
    display: block;
    transition: transform 1s ease;
  }
  .navigation .menu-area.expand ul li {
    padding: 0;
  }

  .navigation .menu-area.expand ul li a {
    display: block;
    padding: 10px 0;
    color: #16395f;
    font-size: 16px;
    transition: all 0.5s ease-in-out;
  }
  .navigation .menu-area.expand ul li:hover a {
    background: #16395f8c;
    color: white;
  }
  .navigation .menu-area.expand ul li a.active {
    background: #16395f8c;
    color: white;
  }
  .header-icon {
    justify-content: center;
    margin: 0;
    margin-top: 15px;
    margin-left: -8px;
  }
  .header-icon span svg {
    display: none;
  }
}

/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
  .category-icon {
    text-align: right;
  }
  .category-item {
    text-align: left;
  }

  .location-based-jobs {
    margin-bottom: 0;
  }
  .footer-copyright-area {
    text-align: left;
  }
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  .location-based-jobs {
    margin-bottom: 0;
  }
  .footer-copyright-area {
    text-align: left;
  }
  .registration-left-text h2 {
    font-size: 30px;
  }
  .application-box {
    height: 620px;
  }
}

/*  MD Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .how-works-content {
    margin-bottom: 25px;
  }
  .story-content.order-first {
    padding-top: 40px;
    text-align: left;
  }
  .footer-menu-wrapper {
    margin-bottom: 50px;
  }
  .filter-area {
    display: none;
  }
  .search-by input {
    border: none;
    border-bottom: 1px solid #dadada;
  }

  .registration-left-content {
    top: 40%;
  }
  .registration-left-text h2 {
    font-size: 25px;
  }
  .application-box,
  .registration-box {
    height: 620px;
  }
  .overview-item {
    margin-bottom: 20px;
  }

  .activity-item {
    margin-bottom: 25px;
  }
  .jobs-details-information.dashboard {
    display: none;
  }

  .job-details-image {
    display: none;
  }
  .profile-view-information .overall-rating {
    justify-content: space-between;
    margin-top: 20px;
  }
  .profile-view-information {
    margin-top: 30px;
  }
}

/* small mobile :320px. */
@media (max-width: 767px) {
  /* Modal */
  .modal_footer {
    flex-direction: column;
  }

  /* Home Page */
  .header-top-area .logo object {
    height: 25px;
  }
  .header-top-area .logo img {
    width: 180px;
  }
  .hero-text h1 {
    font-size: 35px;
  }
  .search-bar button {
    font-size: 12px;
    padding: 10px 5px;
  }
  .how-works-content {
    margin-bottom: 25px;
  }
  .link-title {
    display: none;
  }
  .newsletter-content h4 {
    font-size: 16px;
  }
  .footer-menu-wrapper {
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
  }

  /* Login, Register and Apply Page */
  .registration-left {
    display: none;
  }
  .registration-form {
    width: 100%;
    float: none;
  }
  .btn_group {
    bottom: 20px;
  }
  .auth.mobile-view-link {
    display: block;
  }

  /* Apply Page */
  .jobs-application-area {
    height: auto;
    margin-top: 70px;
  }

  .application-box {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 70px;
  }

  .apply-form {
    float: none;
    width: 100%;
    order: 2;
    display: block;
  }

  .job-application-info {
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    float: none;
    display: block;
  }
  .job-application-title h2 {
    font-size: 20px;
  }

  /* All Job Page */
  .filter-area {
    display: none;
  }
  .grid-header {
    display: block !important;
  }
  .filter-header.right span:nth-child(1) {
    padding: 0;
  }

  /* Jobseeker Page */
  .search-by input {
    border: none;
    border-bottom: 1px solid #dadada;
  }
  .avaiable-jobseeker-filter,
  .show-all-applicant {
    display: block;
  }
  .display-page {
    margin: 15px 0;
  }

  /* About Page */
  .story-content.order-first {
    padding-top: 40px;
    text-align: left;
  }
  .intro-text p {
    font-size: 16px;
    word-break: break-word;
  }
  .roadmap-cards {
    width: auto;
  }
  .story-image img {
    width: 100%;
  }
  .team-card img {
    object-fit: contain;
  }

  /* Contact Page */
  .form-field .first-name,
  .form-field .last-name,
  .form-field .contact-phone,
  .form-field .profile {
    width: 100%;
  }

  /* Dashborad Page */
  .dashboard-all .left {
    width: 100%;
  }
  .dashboard-all .mid,
  .dashboard-all .full {
    left: 100%;
    width: calc(100% - 100%);
  }
  .overview-item {
    margin-bottom: 20px;
  }

  .activity-item {
    margin-bottom: 25px;
  }
  .jobs-details-information.dashboard {
    display: none;
  }

  .job-details-image {
    display: none;
  }
  .see-posted-job-header {
    flex-direction: column;
  }
  .applicant-information-filter {
    flex-direction: column;
  }
  .ongoing-job-cards {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
  .ongoing-job-progress {
    width: 4px;
    height: 90%;

    margin-top: -20px;
    top: 10%;
    left: 50%;
    margin-left: -2px;
  }
  .ongoing-card p {
    margin-top: 50px;
    margin-left: -50px;
  }
  .ongoing-job-header {
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
  }
  .post-job-area .save-all-change span {
    display: inline-block;
    width: 140px;
  }

  .save-all-change {
    flex-direction: column;
    gap: 20px;
  }

  .save-all-change span:nth-child(1) {
    order: 3;
  }
  .save-all-change .action {
    width: auto;
  }
  .profile-view-information .overall-rating {
    justify-content: space-between;
    margin-top: 20px;
  }
  .profile-view-information {
    margin-top: 30px;
  }
  .registration-form .confirmation-text {
    font-size: 14px;
  }

  .registration-form .confirmation {
    bottom: -10px;
  }
  .applicant-scroll {
    overflow-x: scroll;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
