/* Mobile Menu */
@media screen and (max-width: 900px) {
  .header-top-area .logo {
    margin-left: 25px;
  }
  .navigation .menu-area {
    display: none;
    transform: translateX(-1000%);
    transition: transform 1s ease;
  }
  .menu-trigger {
    display: block;
  }
  .navigation .menu-area.expand {
    display: block;
    transform: translateX(0%);
    width: 100%;
    position: absolute;
    top: 57px;
    left: 0;
    background: linear-gradient(148.31deg, rgba(255, 255, 255, 0.165) 0%, rgba(255, 255, 255, 0.3) 100%);
    backdrop-filter: blur(10px);
    height: calc(100vh - 60px);
    text-align: center;
  }

  .navigation .menu-area.expand ul {
    transition: transform 1s ease;
    display: block;
  }

  .menu-area.expand .join-us {
    margin: 0;
    margin-top: 20px;
    font-size: 16px;
  }

  .menu-area.expand nav {
    display: block;
    transition: transform 1s ease;
  }
  .navigation .menu-area.expand ul li {
    padding: 0;
  }

  .navigation .menu-area.expand ul li a {
    display: block;
    padding: 10px 0;
    color: #16395f;
    font-size: 16px;
    transition: all 0.5s ease-in-out;
  }
  .navigation .menu-area.expand ul li:hover a {
    background: #16395f8c;
    color: white;
  }
  .navigation .menu-area.expand ul li a.active {
    background: #16395f8c;
    color: white;
  }
  .header-icon {
    justify-content: center;
    margin: 0;
    margin-top: 15px;
    margin-left: -8px;
  }
  .header-icon span svg {
    display: none;
  }
}

/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
  .category-icon {
    text-align: right;
  }
  .category-item {
    text-align: left;
  }

  .location-based-jobs {
    margin-bottom: 0;
  }
  .footer-copyright-area {
    text-align: left;
  }
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  .location-based-jobs {
    margin-bottom: 0;
  }
  .footer-copyright-area {
    text-align: left;
  }
}

/*  MD Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .how-works-content {
    margin-bottom: 25px;
  }
  .footer-menu-wrapper {
    margin-bottom: 50px;
  }
}

/* small mobile :320px. */
@media (max-width: 767px) {
  .header-top-area .logo object {
    height: 25px;
  }
  .header-top-area .logo img {
    width: 180px;
  }
  .hero-text h1 {
    font-size: 35px;
  }
  .search-bar button {
    font-size: 12px;
    padding: 10px 5px;
  }
  .how-works-content {
    margin-bottom: 25px;
  }
  .link-title {
    display: none;
  }
  .newsletter-content h4 {
    font-size: 16px;
  }
  .footer-menu-wrapper {
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
