.footer-menu-area{
    background-color: var(--sectionBg);
 }
 .footer-menu nav ul li {
    font-size: 20px;
    margin-bottom: 5px;
 }
 
 .footer-menu {
    margin-top: 20px;
 }
 .footer-copyright-area {
    background: #323232;
    color: white;
    padding: 20px;
 }
 
 .copyright-text {
    text-align: right;
    font-weight: 300;
 }