/* -------------------------Registration & Login Page CSS Start--------------------- */
.registration-area,
.jobs-application-area {
    margin-top: 70px;
	background: #dddddd;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90vh;
}

.registration-box,
.application-box {
	width: 960px;
	height: 540px;
	border-radius: 30px;
	background: white;
}

.registration-left {
	width: 50%;
	background: #2b313f;
	height: 100%;
	border-radius: 30px;
	position: relative;
	overflow: hidden;
	float: left;
}

.registration-left::after {
	content: '';
	position: absolute;
	top: -5%;
	left: -50%;
	height: 130%;
	width: 100%;
	background: #358fb2;
	transform: skew(-25deg, 0deg);
}

.registration-left::before {
	content: '';
	position: absolute;
	/* background: url(../images/registrationpage/timer.svg); */
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	z-index: 4;
	margin-top: -100px;
	margin-left: -100px;
	background-position: center;
	background-size: cover;
}
.registration-left-content {
	position: absolute;
	width: 80%;
	margin: auto;
	height: 80%;
	background: linear-gradient(
		148.31deg,
		rgba(255, 255, 255, 0.165) 0%,
		rgba(255, 255, 255, 0.3) 100%
	);
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(20px);
	/* Note: backdrop-filter has minimal browser support */
	border-radius: 10px;
	z-index: 70;
	left: 50%;
	top: 50%;
	margin-left: -40%;
	margin-top: -44%;
	padding: 20px;
}

.registration-left-content .normal-logo {
	background: rgba(43, 49, 63, 0.1);
	display: inline-block;
	padding: 5px 15px;
}

.registration-left-content .normal-logo h3 {
	font-size: var(--mediumFont);
	color: #f2ecdc;
	font-weight: 500;
}

.registration-left-text h2 {
	font-size: 35px;
	font-weight: bold;
}
.registration-status-info h4 a {
	font-size: 20px;
	color: white;
	font-weight: 500;
}

.registration-left-text {
	margin: 30px 0;
}

.registration-status-info {
	color: white;
}

.registration-left-text p {
	margin-top: 5px;
}
.registration-form,
.apply-form,
.job-application-info {
	width: 50%;
	float: right;
	padding: 25px 50px;
	display: flex;
	align-items: center;
	height: 100%;
}
.registration-form .form {
	width: 100%;
}
.form-field input,
.form-field select,
.form-field textarea {
	display: block;
	border: 2px solid #f2f2f2;
	box-sizing: border-box;
	border-radius: 10px;
	width: 100%;
	color: #838995;
	font-size: var(--smallFont);
	padding: 7px 15px;
	outline-color: var(--bgColor);
	margin-bottom: 5px;
}

.registration-form h2,
.apply-form h2 {
	margin-bottom: 15px;
}

.form-field label {
	font-size: 16px;
	font-weight: 600;
}
.form-field .first-name {
	float: left;
	width: 47%;
}
.form-field .last-name {
	float: right;
	width: 47%;
}
.form-field.stay-login input,
.form-field.agree input {
	width: auto;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 15px;
}

.form-field .btn {
	background: #16395f;
	color: white;
}
/* -------------------------Registration Page CSS  End--------------------- */
